* {
    /* This is used pretty much everywhere and gives you more consistent styling with padding/margins */
    /* Avoid adding many properties to the * selector because it can cause performance issues if you add too many */
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0e1e24;
    display: flex;
    flex-direction: column;
    /* Define global styles like font here in the body or html tag, everything will inherit from this */
    font-family: 'Righteous', cursive;
}

body::-webkit-scrollbar {
	width: 0.35rem;
}

body::-webkit-scrollbar-track {
	background: #101010;
}

body::-webkit-scrollbar-thumb {
	background: dodgerblue;
}

a {
	color: white;
}

a:hover {
	color: dodgerblue;
}

.container {
    width: 100%;
    /* 1 REM is equal to the HTML element font-size and is better to use instead of pixel values, it gives more consistent feel when everything is measured in REMs */
    max-width: 96rem;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Sometimes you don't need to give things a class name, means you can keep your HTML very clean */
body > header {
	background-color: #101010;
    padding: 1rem 0;
    margin: 0;
}

body > header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
	color: peru;
	font-size: 2rem;
}

.logo span {
	color: dodgerblue;
	font-size: 2rem;
}

nav ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 992px) {
    nav ul {
       display: flex; 
    }
}

nav ul a {
    padding: .5rem 1rem;
	color: white;
    text-decoration: none;
}

nav ul a:hover {
    color: dodgerblue;
}

nav ul li:not(:first-child) a:before {
	content: "|";
	color: dodgerblue;
    margin-right: 2rem;
}

.warning {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 2rem;
	color: aquamarine;
    text-align: center;
}

.projectslist {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: red;
    text-align: center;
}

.projectslist a {
    color: lightblue;
}

.projectslist a:hover {
    color: aquamarine;
}

.diplohistpage body {
    margin: 0;
}

.salespitch {
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;
    font-size: 1.2rem;
    padding-top: 5rem;
}

.salespitch p {
    display: flex;
    text-indent: 2rem;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    flex-direction: row;
}

.salespitch p#intro {
    color: lightblue;
}

.sevenyearswar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}

.sevenyearswar p {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    justify-items: left;
    flex-direction: column;
}

.sevenyearswar p#intro {
    color: lime;
}

.sevenyearswar a {
    color: forestgreen;
}